/* Sheet style */
/*************************
Border vision
    border-width: 5px;
    border-style: dashed;
    border-color: black; 
*************************/

/*Personal font */
@font-face{
    font-family: 'PoliceRoboto';
    src: url("polices/roboto/RobotoCondensed-Regular.ttf");
}
@font-face{
    font-family: 'PoliceSpartan';
    src: url("polices/league-spartan/LeagueSpartan-Bold.otf");
}

/*General body parameter */
body{
    background: fixed;
    font-family: PoliceRoboto;
}
strong{
    font-family: PoliceSpartan, sans-serif;
}
em{
    font-style: italic;
}


/* Header */
.div-categoryContainer{
    padding: 5% 5% 5% 20%;
}
.picture-left{
    float: left;
    margin-right: 2%;
}
  
.paragraph-right {
    font-family: PoliceSpartan;
    margin-top : 50px;
    padding-left: 5%;
}

/* Navigation menu */
nav{
    margin-bottom: auto;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
nav ul{
    list-style: none;
    background-color: #d8d8d8;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
nav li {
    float: left;
}
nav li img{
    width: 16px;
    height: 16px;
}
nav li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
nav li a:hover:not(.active){
    background-color: darkgrey;
}
.active{
    background-color: darkorange;
}

/* Sections */
table{
    margin: 5% 5% 5% 7.5%;
}
table caption{
    font-family: PoliceSpartan;
    text-align: left;
}
table, tr {
  text-align: center;
}
table td{
    text-align: left;
}
td, tr{
    padding :15px;
}
table th{
    font-family: RotoboSpartan;
}
table img{
    vertical-align: middle;
}

/* Footer */
footer ul{
    list-style: none;
    background-color: #d8d8d8;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
footer li {
    float: left;
}
footer li img{
    width: 16px;
    height: 16px;
}
footer li a{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
footer li a:hover{
    background-color: darkgrey;
}