@font-face{
    font-family: 'PoliceRoboto';
    src: url("polices/roboto/RobotoCondensed-Regular.ttf");
}
@font-face{
    font-family: 'PoliceSpartan';
    src: url("polices/league-spartan/LeagueSpartan-Bold.otf");
}


*{
    text-align: center;
}
body{
    /* background: url("/home/jordanberger/Git/Korra/Interface Web/images/electronic_diagram.png") fixed;  */
    opacity: 1;
}
.title{
    color: darkorange;
    font-size: 16;
    font-family: PoliceRoboto, PoliceSpartan, sans-serif;
}
.logo{
    color: darkgray;
    font-size: 1.1em;
    font-style: bold;
    font-family: PoliceRoboto;
    text-decoration: blink;
}
p{
    color: darkgoldenrod;
    font-weight: 100;
    font-family: PoliceSpartan, sans-serif;
}
li{
    font-style: italic;
}

.link{
    text-decoration: none;
    color: darkblue;
    font-family: PoliceRoboto;
    font-size: 1em;
}
.link:hover{
    text-decoration: solid;
    color: darkslateblue;
    font-size: 1.2em;
}


.h1{
    font-family: PoliceSpartan ;
    font-size: 1em;
    color: darkgray;
}
.headerText{
    font-family: PoliceRoboto;
    font-size: 1em;
    color: darkgray;
}
.footerText{
    font-family: PoliceRoboto;
    font-size: 1em;
    color: darkslategray;
}