/* Sheet style */

/*Personal font */
@font-face{
    font-family: 'PoliceRoboto';
    src: url("polices/roboto/RobotoCondensed-Regular.ttf");
}
@font-face{
    font-family: 'PoliceSpartan';
    src: url("polices/league-spartan/LeagueSpartan-Bold.otf");
}


/* Header style*/
head{
    font-family: PoliceSpartant, sans-serif;
    font-size: 1em;
    color:#555555;
}
img{
    float: left;
}


/*General body style*/
body{
    font-family: PoliceRoboto, sans-serif;
    margin: auto;
    width: 70%;
    background: fixed;
}

/*Navigation menu*/
nav a{
    font-family: PoliceSpartan, sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: #555555;
}
nav a:hover{
    color: darkgoldenrod;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;  
    justify-content: space-around; 
    background-color: aliceblue;
}

/*Sheet content*/
aside{
    display: block;

}